* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.themeObject {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.oneTheme {
  display: flex;
  margin: 20px;
  width: 800px;
  height: 100px;
  border: 2px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.themeLink {
  text-decoration: none;
}

.themeListUl {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.formAddUser {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.inputRegistration {
  width: 300px;
  height: 40px;
  font-size: 24px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  text-align: center;
}

.inputRegaButton {
  width: 300px;
  height: 40px;
  font-size: 26px;
  border: 2px solid lightgreen;
  border-radius: 5px;
  background-color: lightgreen;
}
.needRegistration {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
